<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>

 <form id="signup" action="/verify" method="post" autocomplete="on">
    <label for="email">Email: </label><br>
    <input type="email" id="email" name="email" placeholder="Email" required><br>
    <label for="password">Password: </label><br>
    <input type="password" id="password" name="password" placeholder="Password" required minlength="8"><br>
    <div id="strengthmessage"></div>


    <label for="cpassword">Confirm Password</label><br>
    <input type="password" id="cpassword" name="cpassword" placeholder="Confirm Password" required><br>
    <div id="matchmessage"></div>   
    
    <label for="fname">First Name: </label><br>
    <input type="text" id="fname" name="fname" placeholder="First Name" required><br>
    <label for="lname">Last Name: </label><br>
    <input type="text" id="lname" name="lname" placeholder="Last Name" required><br>
    <label for="number">Mobile Number: </label><br>
    <input type="tel" id="number" name="number" placeholder="Mobile Number" maxlength="10" minlength="10"><br>
    <label for="address">Address: </label><br>
    <input type="text" id="address" name="address" placeholder="address"><br><br>
    <input type="submit" value="Submit">
 </form>
    <script>
        const password=document.getElementById("password");
        const cpassword=document.getElementById("cpassword");
        const strengthmessage=document.getElementById("strengthmessage");
        const matchmessage=document.getElementById("matchmessage");

        function checkstrength(value){
            const strong=/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$/;
            if (strong.test(value)){
                strengthmessage.textContent="Strong password";
                password.style.borderColor="green";
            }
            else{
                strengthmessage.textContent="Password must be at least 8 characters, include uppercase, lowercase, number, and special character";
                password.style.borderColor = "red";
            }
        }
        function checkmatch(){
            if (cpassword.value === password.value && cpassword.value !== ""){
                matchmessage.textContent = "Password match";
                cpassword.style.borderColor="green";

            }
            else{
                matchmessage.textContent = "Passwords do not match";
                cpassword.style.borderColor = "red";
            }
        }
        password.addEventListener("input", ()=>{
            checkstrength(password.value);
            checkmatch();
        });
        cpassword.addEventListener("input",checkmatch);

        function validatepassword(){
            return(
                password.style.borderColor === "green" &&
                cpassword.style.borderColor === "green"
            );
        }



    </script>
</body>
</html>